/** HEADER **/
#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.container {
    margin-left: 0%;
}

.nav-item {
    text-align: center;
}

/** Main Body **/

.menu-item {
    background-color: grey;
    width: 90%;
    margin: auto;
}